@mixin button() {
    display: block;
    padding: 15px 30px;
    background-color: white;
    border: 1px solid rgba(220, 220, 220, 0.5);
    border-radius: 8px;
    box-shadow: 0 5px 10px 1px rgba(150, 150, 150, 0.5);
    color: black;
    transition: all 0.2s;
    margin: 10px;

    &:hover {
        box-shadow: 0 2px 7px 0px rgba(175, 175, 150, 0.3);
    }
}