@mixin details-mobile() {
    div.wrapper {
        width: 100vw;
        margin: 30px auto;

        div.top {
            display: flex;
            flex-direction: column;
            margin-bottom: 100px;

            div.side {
                padding: 20px;
                box-sizing: border-box;
            }

            div.picture {
                img {
                    object-fit: cover;
                    height: 100vw;
                    width: 90vw;
                    border-radius: 125px 30px;
                    padding: 5vw;
                    box-sizing: border-box;
                }
            }
    
            div.hello {
                p.invitation {
                    margin-top: 50px;
                }
            }
        }

        div.details{

            div.card {
                margin-bottom: 50px;
                padding-top: 30px;
                padding-bottom: 30px;
                box-shadow: 0 0 25px -20px rgba(100, 172, 206, 0.85),
                    0 0 35px -30px rgba(100, 172, 206, 0.85);
                border: 1px dotted rgba(122, 212, 253, 0.3);

                div.icon {
                    display: grid;
                    place-items: center;
                    svg {
                        object-fit: cover;
                        width: 100px;
                        height: 100px;
                    }
                }

                div.description {
                    box-sizing: border-box;
                    padding: 20px;
                }
            }
        }

        div.additional {
            box-sizing: border-box;
            padding: 20px;
        }
    }
}