@mixin home-mobile() {
    div.wrapper {
        display:flex;
        flex-direction: column;
    }

    div.picture {
        img {
            width: 100vw;
            min-height: 100vw;
            height: 75vh;
            object-fit: cover;
        }
    }

    div.content {
        display: grid;
        place-content: center;

        div.container {
            div.main {
                margin-bottom: 100px;
            }
        }

        div.details {
            margin-bottom: 20px;
            margin-left: 20px;
            margin-right: 20px;

            input {
                width: 100%;
                padding: 10px;
                margin: 0;
                box-sizing: border-box;
            }
        }

    }
}