{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="top">
            <div class="side picture">
                <img src="{{ assets.photo_us }}" alt="photo of us"/>
            </div>
            <div class="side hello">
                <h2>{{ inPersonWords.hello }} {{ guest.name }}!</h2>
                <p>Miło nam, {{ inPersonWords.you }} tu widzieć!</p>
                {% if not guest.confirmed and not guest.unconfirmed %}
                    <p class="invitation">
                        Chcielibyśmy zaprosić {{ inPersonWords.you }} na nasz ślub oraz wesele. <br/>
                        Szczegóły są poniżej. <br/>
                        Potwierdź nam proszę czy {{ inPersonWords.youWill }}?
                        <form id="confirm-form" method="POST" action="{{ path('confirm') }}">
                            <label for="qty">Będzie nas:</label>
                            <input type="number" name="qty" id="qty" value="{{ guest.quantity }}"/>
                            <input type="hidden" name="guest" id="guest" value="{{ guest.id }}"/>
                            <button type="submit" class="confirm">Potwierdzam!</button>
                            <button type="button" class="unconfirm">Niestety nie</button>
                            <script>
                                const button = document.querySelector('#confirm-form button[class="unconfirm"]');
                                button.onclick = (e) => {
                                    document.querySelector('#confirm-form input#qty').value = 0;
                                    document.querySelector('#confirm-form').submit();
                                }
                            </script>
                        </form>
                    </p>
                {% endif %}
                {% if guest.confirmed and not guest.unconfirmed and not guest.contact %}
                    <p class="invitation">
                        Dzięki! Cieszymy się, że {{ inPersonWords.youWill }} z nami. <br/>
                        Szczegóły są poniżej. <br/>
                        Zostaw nam swój kontakt byśmy mogli informować {{ inPersonWords.you }} o ewentualnych zmianach:
                        <form method="POST" action="{{ path('saveContact') }}">
                            <input type="text" name="contact" id="contact" value="{{ guest.contact }}"/>
                            <input type="hidden" name="guest" id="guest" value="{{ guest.id }}"/>
                            <button type="submit" class="save">Zapisz!</button>
                        </form>

                        <form id="confirm-form" method="POST" action="{{ path('confirm') }}">
                            <input type="hidden" name="guest" id="guest" value="{{ guest.id }}"/>
                            <input type="hidden" name="qty" id="qty" value="0"/>
                            <button type="submit" class="unconfirm">Jednak nie!</button>
                        </form>
                    </p>
                {% endif %}
                {% if guest.confirmed and guest.contact and not guest.unconfirmed %}
                    <p class="invitation">
                        Dzięki! Cieszymy się, że {{ inPersonWords.youWill }} z nami. <br/><br/>
                        Szczegóły są poniżej.

                        <form id="confirm-form" method="POST" action="{{ path('confirm') }}">
                            <input type="hidden" name="guest" id="guest" value="{{ guest.id }}"/>
                            <input type="hidden" name="qty" id="qty" value="0"/>
                            <button type="submit" class="unconfirm">Jednak nie!</button>
                        </form>
                    </p>
                {% endif %}
                {% if not guest.confirmed and guest.unconfirmed %}
                    <p class="invitation">
                        Przykro nam, że {{ inPersonWords.you }} nie będzie.<br/>
                        Jednak nadal zapraszamy na nasz ślub w kościele. <br/><br/>
                        Szczegóły są poniżej.
                    </p>
                {% endif %}
            </div>
        </div>
        <div class="details">
            <div class="card wedding">
                <div class="icon">
                    {{ source(assets.church) }}
                </div>
                <div class="description">
                    <h2>Gdzie ślub?</h2>
                    <p class="l">Sanktuarium M.B. Swarzewskiej Królowej Polskiego Morza</p>
                    <p class="r semi">ul. Ks, Pronobisa 6, 84-121 Swarzewo</p>
                    <p class="r">
                        <a href="https://www.google.pl/maps/place/Sanktuarium+M.B.+Swarzewskiej+Kr%C3%B3lowej+Polskiego+Morza/@54.7576434,18.3961191,15.25z/data=!4m5!3m4!1s0x46fdb30159329b2b:0x39853b4eeca3e07b!8m2!3d54.7601665!4d18.3999928" target="_blank">
                        Miejsce na mapie
                        </a>
                    </p>
                </div>
            </div>
            {% if not guest.unconfirmed and not guest.less %}
            <div class="card party">
                <div class="icon">
                    {{ source(assets.champagne) }}
                </div>
                <div class="description">
                    <h2>Gdzie wesele?</h2>
                    <p class="l">Leśna-Karczma Faltom</p>
                    <p class="r semi">ul. Rekreacyjna 5, 84-206 Nowy Dwór Wejherowski</p>
                    <p class="r">
                        <a href="https://www.google.pl/maps/place/Le%C5%9Bna-Karczma+Faltom/@54.5340717,18.2827234,15z/data=!4m5!3m4!1s0x46fdbca2ca055555:0x55d7f34d7e2954fc!8m2!3d54.5342571!4d18.2867155?hl=pl" target="_blank">
                        Miejsce na mapie
                        </a>
                    </p>
                </div>
            </div>
            {% endif %}
            <div class="card date">
                <div class="icon">
                    {{ source(assets.calendar) }}
                </div>
                <div class="description">
                    <h2>Kiedy?</h2>
                    <p class="l big">22 października 2021 r. (piątek)</p>
                    <p class="l">godz. 16:00</p>
                    <p class="r semi">22.10.21 - 16:00</p>
                </div>
            </div>
            {% if not guest.unconfirmed and not guest.less %}
            <div class="card honor">
                <div class="icon">
                    {{ source(assets.users) }}
                </div>
                <div class="description">
                    <h2>Świadkowie?</h2>
                    <p class="l">Adam Hartka</p>
                    <p class="r">Halina Chrzanowska</p>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="additional">
            <p>Na sam koniec, jeszcze kilka dodatkowych słów:</p>
            <ul>
                <li>Choć kwiaty są bardzo miłym gestem, są też niestety małym problemem,
                zarówno dla młodych, jak i przyrody. O ile to możliwe, prosimy o ich ograniczenie
                do minimum, a nawet zera. Może zamiast tego bukiet z losów lotto? :)</li>
                <li>...</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('details_style') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('details_js') }}
{% endblock %}