{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="side picture">
            <img src="{{ assets.photo_us }}" alt="photo of us"/>
        </div>

        <div class="side content">
            <div class="container">
                <div class="main">
                    <p>Cześć! To my...</p>
                    <h1>Adam & Danusia</h1>
                </div>
                <div class="details">
                    <p>Już wkrótce nasz ślub... chcesz wiedzieć więcej? Wpisz tajny kod:</p>
                    <form method="POST" action="{{ path('check') }}">
                        <input type="password" name="pass" id="pass"/>
                    </form>
                    {% if error == 1 %}
                    <p class="error">Wpisałeś zły kod!</p>
                    {% endif %}
                    {% if error == 2 %}
                    <p class="error">Nie ma takiego gościa... kim jesteś?!</p>
                    {% endif %}
                </div>
            </div>
        </div
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home_style') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('home_js') }}
{% endblock %}