@import './desktop/details.scss';
@import './mobile/details.scss';
@import './partials/button.scss';

$breakpoint-mobile: 800px;

//desktop
@media (min-width: $breakpoint-mobile) {
    @include details-desktop($breakpoint-mobile);
}

//mobile
@media (max-width: $breakpoint-mobile) {
    @include details-mobile;
}

button {
    @include button;
    width: 50%;
    align-self: flex-end;

    &.confirm {
        background: linear-gradient(to bottom left, white, rgb(218, 246, 218));
    }

    &.unconfirm {
        background: linear-gradient(to bottom left, white, rgb(246, 218, 218));
    }

    &.save {
        background: linear-gradient(to bottom left, white, rgb(212, 255, 255));
    }
}

form {
    display: flex;
    flex-direction: column;
    input {
        padding: 7.5px;
        border: 1px solid rgba(0,50,50,0.75);
        &:hover {
            border: 1px solid rgba(0,85,85,0.75); 
        }
        &:focus {
            outline: rgba(175, 175, 150, 0.3) dotted 1px;
            border: 1px solid rgba(0,85,85,0.75); 
            box-shadow: 0 2px 7px 0px rgba(175, 175, 150, 0.3);
        }
    }
}

div.details div.icon{
    svg {
        fill: rgba(122, 212, 253, 0.2);
    }
}

div.description {
    p.l {
        text-align: left;
    }
    p.r {
        text-align: right;
    }
    p.semi {
        color: rgba(0,0,0,0.5);
    }

    a {
        color: rgba(0,50,50,0.75);
        text-decoration: none;
        transition: all 0.2s;
        &:hover {
            color: rgba(0,85,85,0.75); 
        }
    }
}

div.additional {
    margin-bottom: 30px;

    ul {
        li {
            margin-bottom: 5px;
        }
    }
}