@import './desktop/home.scss';
@import './mobile/home.scss';

$breakpoint-mobile: 800px;

//desktop
@media (min-width: $breakpoint-mobile) {
    @include home-desktop;
}

//mobile
@media (max-width: $breakpoint-mobile) {
    @include home-mobile;
}

p.error {
    color: red;
}

div.content {
    span.spacer {
        display: inline-block;
        height: 100px;
    }

    div.container {
        div.main {
            margin-top: 50px;
            display: grid;
            place-content: center;

            h1 {
                text-shadow: 0px 3px 9px rgba(50, 50, 50, 0.15);
            }
        }

        div.details {
            margin-bottom: 20px;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    input {
        padding: 7.5px;
        border: 1px solid rgba(0,50,50,0.75);
        &:hover {
            border: 1px solid rgba(0,85,85,0.75); 
        }
        &:focus {
            outline: rgba(175, 175, 150, 0.3) dotted 1px;
            border: 1px solid rgba(0,85,85,0.75); 
            box-shadow: 0 2px 7px 0px rgba(175, 175, 150, 0.3);
        }
    }
}