@mixin details-desktop($width: "500px") {
    div.wrapper {
        max-width: $width;
        margin: 30px auto;

        div.top {
            display: flex;

            div.side {
                flex:50%;
            }

            div.picture {
                img {
                    object-fit: cover;
                    height: 300px;
                    border-radius: 125px 30px;
                }
            }
    
            div.hello {
                p.invitation {
                    margin-top: 50px;
                }
            }
        }

        div.details{
            div.card {
                display: flex;
                flex-direction: row;
                border-radius: 20px;
                margin: 40px 0;
                padding: 20px;
                box-shadow: 0 0 25px -20px rgba(100, 172, 206, 0.85),
                    0 0 35px -30px rgba(100, 172, 206, 0.85);
                border: 1px dotted rgba(122, 212, 253, 0.3);

                div.icon {
                    width: 150px;
                    display: grid;
                    place-content: center;
                    margin-right: 10px;

                    svg {
                        object-fit: cover;
                        width: 100px;
                        height: 100px;
                    }
                }

                div.description {
                    width: 100%;
                    padding-left: 20px;
                }
            }
        }
    }
}