@mixin home-desktop() {
    div.wrapper {
        height: 100vh;
        display: flex;
        overflow: hidden;

        div.side {
            flex:50%;
        }
    }

    div.picture {
        img {
            width: 100%;
            object-fit: cover;
            height: 100vh;
        }
    }

    div.content {
        display: grid;
        place-content: center;

        div.container {
            display: grid;
            grid-template-rows: 1fr auto;
            height: 100vh;
            margin-left: 30px;
            margin-right: 30px;


            div.details {
                input {
                    width: 100%;
                    padding: 10px;
                }
            }
        }
    }
}